h1{
	font-size: 30px;
	color: rgb(231, 83, 224);
}
h2{
		font-size: 30px;
		color: rgb(255, 8, 0);
	}
p{
	font-size: 20px;
	color: rgba(60, 184, 12, 0.904);
}
li:first-child{
	font-size: 20px;
	color:#ff0000;	
}
li:nth-child(2){
   font-size: 20px;
	color: #ff6347;
}	
li:nth-child(3){
	font-size: 20px;
	color: blue;
}
li:last-child{
	font-size: 20px;
	color: hotpink;
}



